.get-all-comments {
    display: flex;
    flex-direction: column;
    /* border: 3px solid hotpink; */
    /* margin-left: 54px; */
    width: 68%;
    padding: 10px;
}

.individual-comment {
    display: flex;
    flex-direction: row;
    /* border: 3px solid royalblue; */
    padding-top: 15px;
    justify-content: space-between;

}

.comment-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}

.fa-trash-can {
    cursor: pointer;
}