.likes-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 68%;
  justify-content: space-between;
}

.liked {
  width: 70px;
  height: 30px;
  border: 1px solid #023047;
  background: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
.liked .fa-heart,
.liked span {
  color: #023047;
}

.disliked {
  width: 70px;
  height: 30px;
  font-size: 14px;
  background: none;
  cursor: pointer;
  border: 1px solid rgba(2, 48, 71, 0.2);
  border-radius: 4px;
}
.disliked:hover {
  border: 1px solid #868686;
}

.stats-count {
  font-size: 14px;
  color: #868686;
}
