.likes-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.likes-container-column {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 68%;
}
.likes-container-column hr {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.liked {
  width: 70px;
  height: 30px;
  /* border: 1px solid #023047; */
  border: 1px solid rgb(1, 70, 105);
  background: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
.liked .fa-heart,
.liked span {
  color: rgb(1, 70, 105);
}

.disliked {
  width: 70px;
  height: 30px;
  font-size: 14px;
  background: none;
  cursor: pointer;
  border: 1px solid rgba(2, 48, 71, 0.2);
  border-radius: 4px;
}
.disliked:hover {
  border: 1px solid #868686;
}

.stats-count {
  font-size: 14px;
  color: #868686;
}
