.audio {
  width: 100%;
}

.song-details-preview img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-left: 20px;
}

.track-details {
  margin-right: 20px;
  margin-left: 20px;
  color: #023047;
  font-size: 14.5px;
}

.artist-details {
  margin-right: 20px;
  margin-left: 20px;
  color: #023047;
  font-size: 10.5px;
}

.song-details-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 64px;
  margin-left: 20px;
}
