.main-container-div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.main-top-div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-middle-div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-trending-title {
  margin-top: 80px;
  font-size: 24px;
  margin-bottom: 20px;
}

.main-title {
  width: 100%;
  font-size: 28px;
  padding-left: 25px;
  padding-top: 60px;
  padding-bottom: 10px;
}

.title-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 6rem;
  width: 100%;
}

.tiles-splash {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
  grid-row-gap: 0.5rem;
  width: 100%;
}

.song-tile {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
}

.album-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

img.tile {
  display: flex;
  flex-direction: column;
  height: 172px;
  width: 172px;
  object-fit: cover;
  box-sizing: border-box;
}

#artist-name {
  font-size: 0.8rem;
  opacity: 60%;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

.title-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

.play-pause {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  opacity: 15%;
  z-index: 0;
}

.play-button,
.pause-button {
  opacity: 15%;
  position: absolute;
}

.fa-play {
  color: #ffb703;
}

.fa-pause {
  color: #ffb703;
}

.play-button:hover,
.pause-button:hover,
.play-pause:hover {
  opacity: 100%;
  cursor: pointer;
}
