.main-container-div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}

.main-top-div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-middle-div {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-trending-title {
    margin-top: 80px;
    font-size: 24px;
    margin-bottom: 20px;
}

.main-title {
    width: 96.7%;
    font-size: 24px;
    padding-left: 33px;
    padding-top: 60px
}

.title-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    grid-row-gap: 8rem;
    width: 102%;
}

.tiles-splash {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
    grid-row-gap: .5rem;
    width: 100%;
}

.song-tile {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
}

.album-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

img.tile {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    box-sizing: border-box;

}

#artist-name {
    font-size: .8rem;
    opacity: 60%;
    box-sizing: border-box;

}

.title-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.play-pause {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    opacity: 15%;
    z-index: 0;
}

.play-button,
.pause-button {
    opacity: 15%;
    position: absolute;
}

.fa-play {
    color: #FFB703;

}

.fa-pause {
    color: #FFB703;
}

.play-button:hover,
.pause-button:hover,
.play-pause:hover {
    opacity: 100%;
    cursor: pointer;
}


/* .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    grid-row-gap: 8rem;
    margin-top: 8rem;
    margin-left: 3rem;
    width: 100%;
}

.song-card {
    box-sizing: border-box;
    border: 2px solid aqua;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

.album-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid blue;
    position: relative;
    z-index: 0;
}

img.card {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    box-sizing: border-box;
    border: 2px solid purple;

}

#artist-name {
    font-size: .8rem;
    opacity: 60%;
    box-sizing: border-box;
    border: 2px solid purple;

}

.title-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 2px solid rgb(242, 111, 35)
}

.press-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25px;
    width: 25px;
    align-items: center;
    opacity: 10%;
    color: rgb(242, 111, 35);
    position: absolute;
    background: white;
    border-radius: 50%;
}

.press-play:hover {
    opacity: 100%;
    cursor: pointer;
} */