/* Site wide styles */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 10px;

}

.root {
    height: 100vh;
}

.overall-container {
    background-color: rgb(223, 223, 222);
    width: 100%;

}

.inner-container {
    width: 90%;
    background-color: white;
    margin: 0 auto;

}

@media screen and (max-width: 900px) {
    .overall-container {
        background: white;
    }
}

footer {
    position: sticky;
    bottom: 0;


    width: 100%
}

a {
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(97, 97, 97);
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.nav-container {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    position: relative;
    z-index: 1;
}

.songs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    box-sizing: border-box;
    border: 5px solid hotpink;
    width: 100%;
    /* height: 100vh; */
}

.songs-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 5px solid grey;
    padding-bottom: 80px;
    width: 90%;
    height: 90%;
}

.rhap_time {
    color: #F26F23;
}