.results-container-div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.results-title {
  width: 100%;
  font-size: 28px;
  padding-left: 25px;
  padding-top: 100px;
  padding-bottom: 10px;
}

.results-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-row-gap: 100px;
  width: 100%;
}
