form {
    display: block;
    margin: 0 auto;
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    border: 3px solid rgb(255, 115, 0);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 405px;
    background-color: white;
    margin-top: 40px;
}

label {
    padding: 10px;
}

input {
    padding: 8px;
    width: 280px;
}

.the-guts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button.signin {
    background-color: rgb(255, 115, 0);
    border: none;
    border-radius: 2%;
    cursor: pointer;
    color: white;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: white;
    cursor: pointer;
}

/* form {
    position: absolute;
    left: 460px;
    z-index: 5;
    box-sizing: border-box;
    border: 3px solid rgb(255, 115, 0);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 405px;
    background-color: white;
    top: 120px;
} */