.one-song {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
}


.song-details {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    height: 420px;
    margin: 20px;
    margin-top: 50px;
}

.individual-song-image-url {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: fit-content;
    /* padding-top: 60px;
    padding-bottom: 80px;
    padding-right: 60px; */
    padding-left: none;
    margin-top: 60px;
    margin-right: 60px;

}

.song-details img {
    width: 90%;
}

.artist-details h2 {
    margin-bottom: 8px;
    color: white;
    background: rgba(2, 48, 71, .7);
    padding: 3px;
    margin-right: 20px;
    font-size: 25px;
}

.artist-details span {
    color: white;
    background: rgba(2, 48, 71, .7);
    padding: 3px;
    margin-right: 20px;
    font-size: 20px;
}



.description {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    /* border: 4px solid plum; */
    margin-top: 60px;
}

.fa-circle-play {
    color: var(--selective-yellow);
    cursor: pointer;
}

.play-current-song {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    /* border: 4px solid royalblue; */
    z-index: 0;
    height: 100px;
    width: 100px;
    margin-left: 40px;
    margin-right: 10px;
}

.comments-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 20px;
}



.edit-song-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    width: 96%;
    background: white;
    bottom: 0;
    padding-top: 20px;

}

.show-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.rhap_time {
    color: rgb(2, 48, 71) !important;
}