.home {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    font-weight: lighter;
    color: rgb(224, 224, 224);

}

.firstName {
    font-weight: lighter;
    color: rgb(224, 224, 224);
}

.get-songs {
    display: flex;
    flex: row;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    color: rgb(224, 224, 224);
    font-size: 16px;
}

.sign-in {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    color: rgb(224, 224, 224);
    cursor: pointer;
}

.create-account {
    color: rgb(224, 224, 224);
    box-sizing: border-box;
    /* border: 1px solid blue; */
    cursor: pointer;

}

.signup-nav {
    background-color: #F26F23;
    height: 30px;
    padding: 8px;
}

.create-song {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    font-weight: lighter;
    margin-left: 30px;
    color: rgb(224, 224, 224);
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    color: rgb(224, 224, 224);
    font-weight: bold;
    font-size: 18px;
}

/* .fa-soundcloud {
    margin-right: 15px;
} */

div.logo {
    border-right: 1px solid black;
    padding-right: 14px;
}

.logo img {
    width: 66px;
    height: 46px;
    margin-right: 15px;
    background: rgb(224, 224, 224);
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    ;
}