.home {
    box-sizing: border-box;
    border: 1px solid blue;
    font-weight: lighter;
    color: rgb(192, 192, 192);
}

.get-songs {
    display: flex;
    flex: row;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid blue;
    color: rgb(192, 192, 192);
}

.sign-in {
    box-sizing: border-box;
    border: 1px solid blue;
    color: rgb(192, 192, 192);
    cursor: pointer;
}

.create-account {
    color: rgb(192, 192, 192);
    box-sizing: border-box;
    border: 1px solid blue;
    cursor: pointer;

}

.create-song {
    box-sizing: border-box;
    border: 1px solid blue;
    font-weight: lighter;
    margin-left: 30px;
    color: rgb(192, 192, 192);
    position: absolute;
    top: 2.5px;
    right: 0;
}

.logo {
    box-sizing: border-box;
    border: 1px solid blue;
}