button.logout {
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    width: 194px;
    height: 30px;
    background: #F26F23;
    font-size: 14px;
    color: white;
    font-weight: light;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(224, 224, 224);
    cursor: pointer;
    position: relative;
    margin-right: 30px;
}

.fa-user-circle {
    color: rgb(224, 224, 224);
    /* border: 2px solid rgb(224, 224, 224); */
    padding: 6px;
    border-radius: 50%;

}

.fa-chevron-down {
    padding: 8px;
    margin-right: 10
}

.firstName {
    padding: 8px;
    font-weight: lighter;
    margin-left: 3px;
}

.dropdown-container {}

.profile-dropdown {
    box-sizing: border-box;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    top: 43px;
    right: 30%;
    font-size: 14px;
    padding-bottom: none;
    padding-top: 5px;
}

.profile-dropdown label {
    padding: 4px;
}

hr {
    width: 100%;
}

.logout {}

.far-left {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    width: 250px;
    justify-content: space-between;
}

.far-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    justify-content: space-evenly;
    width: 350px;
}